table {
    font-family: arial, "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: separate;
    text-align: center;
    border-spacing: 5px;
    background: rgba(40, 49, 2, 0.61);
    color: rgba(189, 129, 69, 0.75);
    width: 100%;
    border: 5px groove #643b3b;
    border-radius: 20px;
}
th {
    font-size: 18px;
    padding: 10px;
}
td {
    background: #F5D7BF;
    padding: 10px;
}

td, th {
    border: 1px solid #524d11;
    text-align: left;
    padding: 8px;

}


tr:nth-child(even) {
    background-color: #52f30d;
    color: #2b59e2;
}

h1{
    /*background: #cbc9c9;*/
    color: #2b59e2;
    padding: 2px;
    display: inline;
    transform: translateY(-50%);
    margin-left: 40%;

}
h2{
    color:blueviolet;
    padding: 2px;
    display: inline;
    transform: translateY(-50%);
    margin-left: 35%;
}


.b1 {
    background: #6044b1;
    color: turquoise;
    padding: 2px;
    display: inline;
    transform: translateY(-50%);
    margin-left: 40%;
}
.b2 {
    background: #6044b1;
    color: turquoise;
    padding: 2px;
    display: inline;
    transform: translateY(-50%);
    margin-left: 40%;
}
.b3 {
    background: #6044b1;
    color: turquoise;
    padding: 2px;
    display: inline;
    transform: translateY(-50%);
    margin-left: 40%;
}
