table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 5px groove #643b3b;
}

td, th {
    border: 1px solid #8d8b2c;
    text-align: left;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: #5c604a;
}

h1{
    /*background: #cbc9c9;*/
    color: blueviolet;
    padding: 2px;
    display: inline;
    transform: translateY(-50%);
    margin-left: 40%;

}
h2{
    color:blueviolet;
    padding: 2px;
    display: inline;
    transform: translateY(-50%);
    margin-left: 35%;
}


.b1 {
    background: #6044b1;
    color: turquoise;
    padding: 2px;
    display: inline;
    transform: translateY(-50%);
    margin-left: 40%;
}
.b2 {
    background: #6044b1;
    color: turquoise;
    padding: 2px;
    display: inline;
    transform: translateY(-50%);
    margin-left: 40%;
}
.b3 {
    background: #6044b1;
    color: turquoise;
    padding: 2px;
    display: inline;
    transform: translateY(-50%);
    margin-left: 40%;
}
