<!DOCTYPE html>
<html lang="en,ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>upDate</title>
</head>
<body>

    <form action="#" th:action="@{/update/{id}(id=${contract.id})}" th:object="${contract}" method="post">

    <!--<form action="#" th:action="@{/update}" th:object="${contract}" method="post">-->
<!--    <label for="id">ID</label>-->
<!--    <input type="number" th:field="*{id}" id ="id" placeholder="ID">-->
<!--    <br/>-->

    <label for="user_id">User</label>
    <input type="number" th:field="*{user_id}" id ="user_id" placeholder="User">
    <br/>

    <label for="car_id">Car</label>
    <input type="number" th:field="*{car_id}" id ="car_id" placeholder="Car">
    <br/>
    <h1>Поля для изменения</h1>
    <label for="name_contract">Name_contract</label>
    <input type="text" th:field="*{name_contract}" id="name_contract" placeholder="Name_contract">
    <br/>

    <label for="time_rent_start">Time_rent_start</label>
    <input type="date" th:field="*{time_rent_start}" id="time_rent_start" placeholder="Time_rent_start">
    <br/>

    <label for="time_rent_end">Time_rent_end</label>
    <input type="date" th:field="*{time_rent_end}" id="time_rent_end" placeholder="Time_rent_end">



    <input type="submit" value="Update contract">

</form>

</body>
</html>